<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">
    <title>СУБД</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body style="display:flex; flex-direction:row;">
    <div style="display:flex; flex-direction:column; width:15%;">
        <h3>navigate</h3>
        <a href="/instock">Склад</a>
        <a href="/">Заказчики</a>
        <a href="/">Заказы</a>
        <a href="/">Сотрудники</a>
        <a href="/">Поставщики</a>
        <a href="/">Реестр товаров</a>
        <a href="/">Реестр брендов</a>
    </div>
    <div style="display:flex; flex-direction:column; width:65%;">
        <h3>content</h3>
    </div>
    <div style="display:flex; flex-direction:column; width:20%;">
        <h3>actions</h3>
    </div>
</body>
</html>